* {
	box-sizing: border-box;
}

nav, p, .donate-box, ul {
	font-family: 'Montserrat Alternates', sans-serif;
}

nav {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
	background-color: #ffffff;
}

nav a {
	text-decoration: none;
	font-weight: bold;
	color: orange;
}

nav > ul > li {
	display: inline-block;
	padding: 0 15px;
}

.current {
	text-decoration: underline;
}

p {
	line-height: 1.25;
} 

section {
	height: 1100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 15px;
	font-size: 1.5em;
}

#video {
	position: relative;
	z-index: -1;
	width: 100%;
	margin-top: 10px;
}

#sunrise {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    margin-top: 150px;
}

#logo {
	height: 45px;
	width: 80px;
}

.about-us {
	width: 55%;
	text-align: center;
	position: absolute;
	margin-left: 350px;
	margin-top: 600px;
	font-weight: bold;
	font-size: 20px;
}

#how-we-work {
	background-image: url("../IMG/trees.jpg");
}

#our-approach {
	width: 700px;
	height: 600px;
	margin-left: 400px;
	color: white;
	font-size: .85em;
}

#why-cookstoves {
	height: 1800px;
	margin-bottom: 350px;
}

#slider {
	position: relative;
	width: 700px;
	height: 500px;
	margin-left: 400px;
}

#slider img {
	width: 700px;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#benefits {
	width: 700px;
	font-size: .65em;
	text-align: justify;
	margin-left: 400px;
	margin-top: 100px;
}

#scroll {
	font-size: .65em;
	margin-left: 400px;
	margin-bottom: 100px;
}

.cntl p {
	font-size: .65em;
}

.donate-box {
	width: 600px; 
	height: 50vh;
	bottom: 0;
	margin-left: 400px;
	padding: 20px;
	text-align: center;
	background-color: black;
	color: white;
	display: none;
}

#donation-amount {
	border: 1px solid black;
	background-color: white;
	width: 500px;
	position: absolute;
	transform: translateY(-150px);
	left: 50%;
	transform: translate(-300px, -150px);
	padding: 10px;
}

#donate-button {
	border: 1px solid black;
	background-color: white;
	width: 100px;
	position: absolute;
	transform: translateY(-250px);
	left: 50%;
	transform: translate(190px, -150px);
	padding: 10px;
}

p#thankyou {
	margin-left: 370px;
	margin-top: 240px;
}